<div *ngIf="error" class="alert alert-danger">{{error}}</div>
<h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="username">username</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">User Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="specialty">specialty</label>
        <input type="text" formControlName="specialty" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.specialty.errors }" />
        <div *ngIf="submitted && f.specialty.errors" class="invalid-feedback">
            <div *ngIf="f.specialty.errors.required">Specialty is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="location">location</label>
        <input type="text" formControlName="location" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.location.errors }" />
        <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
            <div *ngIf="f.location.errors.required">Username is required</div>
        </div>
    </div>

    <div class="form-group">
      <label for="price">price</label>
      <input type="number" formControlName="price" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.price.errors }" />
      <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
          <div *ngIf="f.price.errors.required">Username is required</div>
      </div>
  </div>

  <div class="form-group">
    <label for="waiting">waiting</label>
    <input type="number" formControlName="waiting" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.waiting.errors }" />
    <div *ngIf="submitted && f.waiting.errors" class="invalid-feedback">
        <div *ngIf="f.waiting.errors.required">Username is required</div>
    </div>
</div>


<div class="form-group">
  <label for="phone">phone</label>
  <input type="number" formControlName="phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
  <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
      <div *ngIf="f.phone.errors.required">Username is required</div>
  </div>
</div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Register
        </button>
        <a routerLink="login" class="btn btn-link">Cancel</a>
    </div>
</form>
